<!doctype html>
<html lang="en">
<head>
    <title>Flask Leaflet Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
          integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
          crossorigin="">
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
            integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
            crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
</head>
<body>
<div id="map"></div>


<script src="{{ url_for('static', filename='js/universal.js') }}">
</script>


<script>
    let route = L.Routing.control({
        waypoints: [
            {% for marker in markers %}
                L.latLng({{ marker['lat'] }}, {{ marker['lon'] }}),
            {% endfor %}
        ],

        routeWhileDragging: false
    }).addTo(map);

    {% for marker in markers %}
        L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}])
            .bindPopup("{{ marker['popup'] }}")
            .openPopup()
            .addTo(map);

    {% endfor %}

    route()
</script>
</body>
</html>